
.Aheader{
    background-color: #028fa8;
    color: rgb(255, 255, 255);
   
}
.Aheader-links a{
   font-size: 1rem;
    text-decoration: none;
    color: white;
}

.Aheader-links a:hover{
     color: rgb(56, 56, 56);
 }
.AtopCart{
    margin-left: 1em !important;
}

.AtopUser{
    margin-left: 3em !important;
}
 .Anavicon{
    color: rgb(255, 255, 255);
  }
  
  .AhoverTop:hover{
    color: rgb(0, 0, 0) !important;
  }
 
  
  .AcartPill{
      position:absolute;
      top: 15px;
      right: 265px;
      width:20px;
      height:20px;
      font-size: 0.8rem;
      color: white;
      border-radius: 50%;
      background-color: rgb(197, 14, 14);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
  }

 
  
  .Adropdown {
    position: relative;
    display: inline-block;
  }
  
  .Adropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  .Adropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .Adropdown-content a:hover {background-color: #ddd;}
  
  .Adropdown:hover .Adropdown-content {display: block;}
  