.AbottomBar{
    margin-top: 5rem;
    height: 8%;
    width: auto;
    background-color: teal;
}

.AbottomIcon{
    padding-top: 20px;
    color: white;
    position: relative;
}

.AbottomItem{
    align-content: center;
}

.AiconText{
    display: inline-block;
}

.AbottumText{
    vertical-align: middle;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
}