.AproductCardHeader{
    color: black !important;
}

.AproductCardHeader:hover{
    color: rgb(3, 235, 146);
    text-shadow: chartreuse;
}

.AproductIcons{
    color: rgb(90, 90, 90);
    font-size: 30px;

}

.AproductHeartIcons:hover{
    color: rgb(243, 28, 28);
    cursor: pointer;
}

.AproductCartIcons:hover{
    color: rgb(8, 180, 94);
    cursor: pointer;
}